.photo-grid__list {
  max-width: 100%; /*скролл не появляется при построении через список*/
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 284px);/* при замене значений на 1fr - */
  grid-template-rows: repeat(auto-fit, 213px);/* - изображения выстраиваются в одну колонку*/
  gap: 16px;
}

@media screen and (max-width: 1279px) {
  .photo-grid__list {
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 225px);
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__list{
    grid-template-columns: repeat(auto-fit, 352px);
    grid-template-rows: repeat(auto-fit, 264px);
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__list{
    grid-template-columns: repeat(auto-fit, 288px);
    grid-template-rows: repeat(auto-fit, 216px);
    gap: 12px;
  }
}
