.places {
  margin: 0 148px 92px;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 0 48px 92px;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 0 24px 88px;
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin: 0 0 0 64px;
    max-width: 320px;
  }
}