.lead__title {
  margin: 0 0 32px;
  color: #fff;
  width: 100%;
  max-width: 720px;
  font-style: normal;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    margin: 0 0 16px;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}