.place__paragraph {
  grid-column: 2;
  grid-row: 2;
  color: #fff;  
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
  font-size: 16px;
  line-height: 26px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    margin: 0 16px;
  }
}