.intro__text {
  color: #fff;
  margin: 0 0 33px;
  min-height: 208px;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

@media screen and (max-width: 320px) {
  .intro__text {
    margin-bottom: 34px;
    min-height: 520px;
  }
}