.intro {
  max-width: 690px;
  min-height: 429px;
  display: flex;
  flex-direction: column;
  margin: 92px 0 92px 148px;
}

@media screen and (max-width: 1279px) {
  .intro {
    margin-left: 48px;  
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: 720px;    
    margin: 88px auto;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 288px;
    min-height: 754px;
    margin: 64px auto;
  }
}