@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/root/root.css); /*подключение шрифтов + префиксы сглаживания, подгонки размера текста, рендеринга */
@import url(../blocks/page/page.css); 

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/ul/ul.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/__lang-link_active/header__lang-link_active.css);

@import url(../blocks/content/content.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__group4/lead__group4.css);
@import url(../blocks/lead/__caption/lead__caption.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/photo-grid/__item/__item_1/photo-grid__item_1.css);

@import url(../blocks/places/places.css); 
@import url(../blocks/place/place.css); /*рассчитать фракции для всех расширений*/
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__website-url/place__website-url.css);
@import url(../blocks/place/__website-link/place__website-link.css);
@import url(../blocks/place/__image/place__image.css); 
@import url(../blocks/place/__paragraph/place__paragraph.css); /*перенос слов текста не совпадает...*/
@import url(../blocks/place/__paragraph-top/place__paragraph-top.css);
@import url(../blocks/place/__paragraph-bottom/place__paragraph-bottom.css);

/*@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 320px) {
  
}*/
 


.cover {
  border: 1px solid lightskyblue;
  margin: 0 48px 92px;
  max-width: 1184px;
  width: 100%;
  height: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/dmitrii-vaccinium-22833-unsplash.jpg);
  background-size: cover;
}

.cover__overlay {
  border: 1px solid lightpink;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #2a2c2f;
  opacity: .3;
}

.cover__title { 
  margin: 0 0 32px;
  max-width: 560px; 
  max-height: 152px;
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: calc(76px/16px);
  text-align: center;
  z-index: 1;
}

.cover__subtitle {
  margin: 0;
  max-width: 360px; 
  max-height: 66px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  text-align: center;
  z-index: 1;
}

.footer {
  margin: 0 48px;
  min-height: 18px;
}