.footer {
  margin: 0 48px;
  padding: 0 0 24px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .footer {
    margin: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    margin: 0 16px;/*padding не меняется*/
    flex-direction: column;
  }
}